---
title: Projects
---
<div class="projects">
	{% for project in site.projects %}
		<div class="project{% if project.thumbnail %} project-wide{% endif %}">
			{% if project.thumbnail %}
				<img class="project-picture" src="{{project.thumbnail}}" alt="{{project.title}}"/>
			{% endif %}
			<div class="project-description">
				<h2>{{project.title}}</h2>
				<div class="tags">
					{% for tag in project.tags %}
						<span class="tag">{{tag}}</span>
					{% endfor %}
				</div>
				{{project.content | markdownify}}
			</div>
		</div>
	{% endfor %}
</div>
<script src="assets/js/index.js"></script>