body {
    background: #eee;
    margin-top: 60px;
}

/* Projects page */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    box-shadow: 0px 0px 5px #000;
    display: inline-flex;
    margin: 15px 7px;
    background: #fff;
    width: 350px;
    min-height: 281px;
}

.project-description {
    margin-left: 15px;
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
}

.project-wide {
    width: 850px;
}

.tag {
    background: #0f0;
    border-radius: 10px;
    padding: 3px 7px;
}

@media all and (max-width: 900px) {
    .project {
        flex-direction: column;
        width: 500px;
        min-height: 0px;
    }

    .projects {
        justify-content: center;
    }
}

/* Nav bar */
nav {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #f80;
    color: #fff;
    position: fixed;
}

nav ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav li {
    display: flex;
    align-items: center;
    padding-top: 5px;
    height: calc(100% - 5px);
    padding: 0px 7px;
}

nav li:hover {
    border-bottom: 5px solid #eee;
    background: #f91;
}

nav li.active {
    border-bottom: 5px solid #fff;
}

nav a {
    color: inherit;
    text-decoration: none;
}