.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    box-shadow: 0px 0px 5px #000;
    display: inline-flex;
    margin: 15px 7px;
    background: #fff;
    width: 350px;
    height: 281px;
}

.project-description {
    margin-left: 15px;
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
}

.project-wide {
    width: 850px;
}

body {
    background: #eee;
}

@media all and (max-width: 900px) {
    .project {
        flex-direction: column;
        width: 500px;
    }

    .projects {
        justify-content: center;
    }
}