---
---
<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<meta name="viewport" content="width=device-width"/>
        <meta name="theme-color" content="#f80"/>
        <link rel="stylesheet" href="assets/css/style.css"/>
	</head>
	<body>
        <nav>
            <ul>
                {% for link in site.data.nav %}
                    <li{% if page.url == link.link %} class="active"{% endif %}>
                        <a href="{{link.link}}">{{link.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <noscript>
            <div class="alert error">
                This site relies on javascript some of the features of this site may not be available without it.
            </div>
        </noscript>
		<div class="alert info">Site under construction</div>
        {{content}}
	</body>
</html>