---
layout: default
---
<div class="outer">
    <div class="sidebar">
        {% for note in site.notes %}
            <li class="note-list-item">
                <a href="{{note.url}}" class="note-list-title">{{note.title}}</a>
            </li>
        {% endfor %}
    </div>
    <div class="shadow"></div>
    <div class="content">
        <div class="align-right">
            <a href="https://github.com/ryan3r/ryan3r.github.io/blob/master/_notes/{{page.title | slugify}}.md" class="edit">Edit on Github</a>
        </div>
        {{content}}
    </div>
</div>